:root {
    --olive: #739b70;
} 

@font-face {
        font-family: Raleway;
        src: url(Raleway-VariableFont_wght.ttf);
        }
    
body {
        background-image: url("background.jpg");
        background-repeat: repeat-y;
        background-position: center;
        background-size: 200%;
        font-family: Raleway; 
        line-height: 2em; 
    }

h1 {
        text-align: center;
        font-size: 70px;
        color: var(--olive);
        }
        
h3 {
        color: var(--olive);
        }

a{
        color: black;
        text-decoration: none;
        }

#git{
    color:blue;
    text-decoration: underline;
}

ul{
    list-style-type: none;
    text-align: right;
}

ul a:hover{
    font-weight: 900;
}

li{
    display: inline;
    padding: 10px;
}

 
.grid-container {
    display: grid;
    grid-template-areas:
    'blank blank blank blank blank navi navi navi navi navi'
    'left left left left left left right right right right';
}

.blank {
    grid-area: blank;
}
.navi{
    grid-area: navi;
}
.left { 
    grid-area: left;
}
.right { 
    grid-area: right; 
}
.Obj{
    padding-bottom: 10px;
}
.Edu{
    padding-bottom: 10px;
}
.Exp{
    padding-bottom: 10px;
}
.Prog{
    padding-bottom: 10px;
}




